


/* Le header est sous la charge de William merci*/

header{
    background-color: #ff2d2d;
    height: 10vh;
}

header ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2em;
    position: relative;
    top: 30px;
}


@keyframes mesAnimations{
    from{
        color: #ffffff;
    }

    50%{
        color: aqua;
    }

    to{
        color: #ffffff;
        transition: all 1s ease;
    }
}


header ul li a:hover{
    animation: mesAnimations 1s infinite alternate;
}
/* ma partie css */
.container{
   
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;

}
.container h1{
    font-size: 3rem;
    font-weight: 700;
    color: #525252;
    text-transform: uppercase;
    margin-left: 10px;


}
.paragraphe{
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    font-weight: 600;
    margin-left: 10px;
}
/*fin de ma partie css */


/* Lunatic boy contribution */

@font-face {
    font-family: 'Assassin$';
    src: url('/Assassin$.ttf'); 
}

.sect{
    padding: 15px 0 50px 15px;
}

#title
{
    font-family: 'Assassin$' ;
    font-size: 60px;
    
}

.lemon
{
    font-size: 22px;
    font-weight: 600;
    font-style: italic;
}

.orange{
    font-size: 22px;
    font-weight: lighter;
    font-style:italic;
}

.mango{
    font-size: 22px;
    font-weight: 600;
    font-style: oblique;
}

.olive{
    font-size: 22px;
    font-weight: lighter;
    font-style: oblique;
}

.boutton a{
    text-decoration: none;
    color: rgb(252, 250, 250);
    background-color: #ff2d2d;
    padding: 10px 20px;
    border-radius: 50px;
    font-family: 'Assassin$';
    font-size: 25px;
   
}


